<div class="card">
    {{#each this}}
  <ul class="country-list">
  <div class="card-img-top">
   
    <li class="country-list-item"><img src="{{flag}}" alt="{{name.official}}" width=45 height=30> {{name}}</li>
  </div>
  </ul>
     {{/each}}
</div>